@import normalize
@import base
@import module

// colors
// $color-name: rgb(###,###,###) !default

body
  background-color: white
  font: 100% Helvetica, sans-serif
  letter-spacing: 3px

.title
  font-size: 100px
  letter-spacing: 10px
  margin-bottom: -5px
  margin-top: -15px

nav
  margin-top: 10px
  margin-bottom: 10px

.navtab
  color: gray

nav
  a
    text-decoration: none
    margin-right: 20px

button
  width: 200px
  height: 40px
  margin-top: 10px
  font: 100% Helvetica, sans-serif
  letter-spacing: 3px
  background-color: white
  border: 1px black solid

input
  font: 100% Helvetica, sans-serif
  letter-spacing: 3px
  background-color: white
  border: 1px black solid
  height: 40px

.checkbox
  display: inline-block
  vertical-align: bottom
  position: relative
  margin-left: 15px
  margin-right: 15px
  font: 100% Helvetica, sans-serif
  letter-spacing: 3px

section
  position: relative
