<section class="entry-form" ng-controller="UserController as userctrl">
  <div><button id="login-button" ng-hide="userlogin" ng-click="userlogin = userlogin == true ? false : true;">Login</button></div>
  <div class="login">
    <div>
      <div ng-show="userlogin" class="hideByDefault">
        <div class="login-triangle"></div>
        <h2 class="login-header">Login</h2>
        <form class="signin-form" ng-submit="userctrl.login(users)">
          <input type="text" placeholder="username" ng-model="users.username">
          <input type="password" placeholder="password" ng-model="users.password">
          <input type="submit" value="Login">
        </form>
      </div>
    </div>
  </div>

    <div><button id="signup-button" ng-hide="newuser" ng-click="newuser = newuser === true ? false : true;">Create Account</button></div>
    <div class="login">
      <div>
        <div ng-show="newuser" class="hideByDefault">
          <div class="login-triangle"></div>
          <h2 class="login-header">Create Account</h2>
          <form class="signup-form" ng-submit="userctrl.createUser(newUser)">
            <input type="text" placeholder="username" ng-model="newUser.username">
            <input type="password" placeholder="password" ng-model="newUser.password">
            <input type="submit" value="Create Account">
          </form>
        </div>
      </div>
    </div>
</section>
